---
layout: default
---


<div style="text-align:center; font-size:24px">
<div id="slant" style="font-family: 'Patrick Hand SC';text-align: left;">
<h1 style="margin-bottom: 0;font-size: 24px;font-weight: bold;">Penn Lv 那就写个有人情味的博客吧</h1>
<a href="mailto:penn.lv@gmail.com" >Email</a>
<a href="https://github.com/njukidreborn" >Github</a>
<a href="http://lnkd.in/H9z7RU" >Resume</a>
<a href="/blog.html" >BLOG</a>
<a href="http://pinsta.me/rebornix">Instagram</a>
<a href="http://www.amazon.cn/registry/wishlist/3R40JNS1ZQJYB/ref=cm_wl_act_vv?_encoding=UTF8&reveal=&visitor-view=1" >Wishlist</a>
</div>
</div>
