body {
    font-size: 18px;
    font-family: 'Maven Pro', Helvetica, Arial, serif;
}

#slant {
    text-align: left;
    margin: 20% 0 0 20%;
}

#bloglist {
    text-align: left;
    margin:0 0 0 20%;
}

#pagetitle {
    text-align: left;
    margin:1% 0 0 20%;
}
#blogcontent {
    text-align:left;
    margin:1% 15% 0 20%;
    font-size: 14px;
}
h1 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
}

a {
    color: #AAA;
    text-decoration: none;
    margin: 0 20px 0 0;
}

a:hover {
    color: #268bd2;
}
