<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - 
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


       <link href="/main.css" rel="stylesheet" type="text/css" media="all">
       <link href='http://fonts.googleapis.com/css?family=Offside|Cagliostro|Patrick+Hand+SC|Bigelow+Rules|Londrina+Shadow|Geo|Maven+Pro' rel='stylesheet' type='text/css'>
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    
    <div class="container">
      <div class="content" style="height: 100%">
        {{ content }}
      </div>

    </div> <!-- /container -->
    {% include JB/analytics %}
  </body>
</html>
