<div class="page-header-wrapper" id="pagetitle">
	<div class="page-header">
  		<h1><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a> <small>{{ page.title }}</small> {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div id="bloglist">
    {{ content }}
</div>
